<div id='videoSection' class = "ad-container mode-video">
  <div class="video">
    <!--<a href="{{detailPage}}" target="_blank">-->
      <video id="adVideo"  preload="auto" webkit-playsinline="webkit-playsinline" playsinline="playsinline" poster="{{videoPoster}}"> <!-- playsinline可以禁止iOS APP中禁止全屏播放视频；而Phone Safari 中播放视频只能全屏，无解 -->
        {% for source in videoSources %}
        <source src="{{source.url}}" type="{{source.type}}">
        {% endfor %}
      </video>
    <!--</a>-->
  </div>

  <div class="post-pic">
    <img id="postPic" src = {{videoPoster}} alt = "post img">
  </div>

  <a id="videoA" href="{{detailPage}}" target="_blank"></a>

  <div id="pauseBtn" class="pause-play-btn show">
    <img src={{pauseBtn}} alt="pause">
  </div>
  <div id="playBtn" class="pause-play-btn hide">
    <img src={{playBtn}} alt="play">
  </div>

  <div id="closeBtn" class="close-btn">
    <img src={{closeBtn}} alt="close">
  </div>

</div>